/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(font-awesome.min.css);
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather Sans'), local('MerriweatherSans-Regular'), url(https://fonts.gstatic.com/s/merriweathersans/v10/2-c99IRs1JiJN1FRAMjTN5zd9vgsFHX1QjA.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Slabo 27px';
  font-style: normal;
  font-weight: 400;
  src: local('Slabo 27px'), local('Slabo27px-Regular'), url(https://fonts.gstatic.com/s/slabo27px/v5/mFT0WbgBwKPR_Z4hGN2qgx8D0A.ttf) format('truetype');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1 {
  font-size: 2.4rem;
  padding: 2% 0;
  font-family: 'Roboto', sans-serif;
}
@media print {
  h1 {
    font-size: 2rem;
  }
}
h2 {
  font-size: 1.8rem;
  padding: 2% 0;
  font-family: 'Roboto', sans-serif;
}
@media print {
  h2 {
    font-size: 1.6rem;
  }
}
h3 {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1% 0;
  font-family: 'Merriweather Sans', sans-serif;
}
@media print {
  h3 {
    font-size: 1rem;
  }
}
h4 {
  font-size: 1rem;
  padding: 1% 0;
  font-family: 'Merriweather Sans', sans-serif;
}
@media print {
  h4 {
    font-size: 0.9rem;
  }
}
h5 {
  font-style: italic;
  font-weight: 560;
  font-size: 1rem;
  padding: 1% 0;
  font-family: 'Merriweather Sans', sans-serif;
}
@media print {
  h5 {
    font-size: 0.9rem;
  }
}
a {
  text-decoration: none;
  color: black;
  font-weight: 530;
}
p,
li {
  font-size: 1rem;
}
@media print {
  p,
  li {
    font-size: 0.96rem;
  }
}
ul {
  list-style-type: circle;
  margin-left: 5%;
}
strong {
  font-weight: 600;
}
section {
  margin-bottom: 5%;
}
section:last-child {
  margin-bottom: 0;
}
.horizontal-bar {
  border: 1px solid black;
  width: 100%;
  margin: 1% 0 ;
}
@media print {
  .horizontal-bar {
    display: none;
  }
}
html {
  background: #596578;
}
.container {
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  max-width: 800px;
  margin: 0 auto;
}
.container header {
  display: inherit;
  flex-direction: column;
  align-items: center;
  background: #553659;
  color: white;
  border-radius: 20px 20px 0 0;
  margin-top: 20px;
  padding: 1% 0;
}
.container header .horizontal-bar {
  border: 1px solid white;
  width: 25%;
}
@media print {
  .container header {
    margin: 0;
    padding: 0;
  }
}
.container .main-content {
  background: #D4E3E2;
  color: black;
  border-radius: 0 0 20px 20px ;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  margin-bottom: 1%;
}
.container .main-content .body-content {
  padding: 2% 4% 0 4%;
  width: 90%;
}
@media screen and (max-width: 800px) {
  .container .main-content .body-content {
    width: 100%;
  }
}
@media print {
  .container .main-content .body-content {
    padding: 0;
  }
}
@media screen and (max-width: 800px) {
  .container .main-content {
    flex-direction: column;
    padding: 0;
    margin: 0;
    border-radius: 0;
  }
}
.side-well {
  line-height: 1.7rem;
  background: #E0EBE6;
  padding: 2rem 2% 0 2%;
  border-radius: 20px 0;
}
.side-well .contact-container {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
}
.side-well .contact-container .contact-item {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  font-size: 1rem;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.9rem;
  line-height: 1rem;
  margin: 0.25rem 0;
}
.side-well .contact-container .contact-item .icon {
  border: 1px solid black;
  border-radius: 100%;
  padding: 0.9rem;
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4%;
}
.side-well section {
  margin-bottom: 20%;
}
@media screen and (max-width: 800px) {
  .side-well section {
    margin: 2% 5%;
  }
}
@media print {
  .side-well section {
    margin: 1%;
  }
}
@media screen and (max-width: 800px) {
  .side-well {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media print {
  .side-well {
    padding: 0 2% 0 1%;
  }
}
footer nav {
  margin: 1% auto;
  padding: 0.5% 0;
  max-width: 600px;
  background: #D4E3E2;
  border-radius: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: center;
}
@media screen and (max-width: 800px) {
  footer nav {
    max-width: 800px;
    border-radius: 0;
    margin: 0;
    flex-direction: column;
    padding-top: 3% 0;
  }
}
footer a {
  margin: 0 5%;
  padding: 0.5% 0.5%;
  border: 1px solid black;
  color: black;
  font-size: 1.8rem;
  border-radius: 20%;
}
@media print {
  footer a {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  footer a {
    border-radius: 0;
    border-right: 0;
    border-left: 0;
    margin: 0;
    padding: 2% 0;
    text-align: center;
  }
}
